@keyframes fonts-loading { 0%, 99% { color: transparent; } } html.wf-loading * { animation: fonts-loading 3s; }


/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/ea875279-d663-4261-b690-7ed00c65ccb1/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/2f156972-5ae9-401b-8fd5-29a0fc4e4742/devanagari.woff2') format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/e1217d90-e3f1-4318-af30-972ddbb752f6/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/95402d3d-cf4f-4ff3-b652-fa1bddbe79de/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/31f2dfaf-de1e-40ab-ac18-8641e6ac98d0/devanagari.woff2') format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/ab5cf469-e78c-4791-92a2-a2e360e24c1d/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/28866714-3a03-4fde-b82e-bcffd944752e/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/ab6b1da4-72e3-4abf-a176-e7a8a24b53d1/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/7d30df3b-ed0a-4cdd-824a-b3c7e5e49f0d/devanagari.woff2') format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/e5441b3f-475c-4dd0-815e-d1493a6eef24/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/e364ec28-4783-442b-b46f-59d33a99dd2c/devanagari.woff2') format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/67451c8f-d5ad-40d0-a48b-1e842ade5679/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/d03c0883-8248-47bf-9fa3-437f8474b0b7/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/da0c3c0d-458f-46e2-9c64-bac004d4e8c1/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/7050a57e-968a-4317-a487-11e4374878d9/devanagari.woff2') format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/1e5ca8c8-e239-4a8d-9415-517c411c1f25/devanagari.woff2') format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/00d1a230-e215-4217-b1cf-31145362801e/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/e7e7e312-9961-4208-abdd-6ed469c34828/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/106cf02d-1fea-47b3-beaa-607012f765b3/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/2200ecd2-8cab-4e5f-98a1-74a7a1427ea4/devanagari.woff2') format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/sqsp/assets/abb8d202-34bc-4174-a25f-c00d4154bb44/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



  .header-title-logo img {
    height: 100px !important;
    max-height: 100px !important;
  }
  @media (max-width: 640px) {
    .header-title-logo img {
      height: 55px !important;
      max-height: 55px !important;
    }
  }

  #block-yui_3_17_2_1_1694021682244_199475 .fluid-image-container.visitor-mode {
    -webkit-mask-image: none !important;
    mask-image: none !important;
    background-color: #ffffff;
    border-radius: 12px;
  }
  .fe-64ef43d75be7230b95e71a84 {
    grid-template-rows: repeat(16, minmax(24px, auto)) !important;
  }
  .fe-block-yui_3_17_2_1_1737676269559_32529 {
    grid-area: 6/2/13/10 !important;
  }
  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1737676269559_32529 {
      grid-area: 7/14/13/26 !important;
    }
  }



    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .header-blur-background {
            
                -webkit-backdrop-filter: blur(12px);
                backdrop-filter: blur(12px);
            
            
        }
    }



  .top-bun, 
  .patty, 
  .bottom-bun {
    height: 2px;
  }



  .top-bun, 
  .patty, 
  .bottom-bun {
    height: 2px;
  }




.fe-64fa0bce9f39771f9552bbc5 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(2,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .background-width--inset .fe-64fa0bce9f39771f9552bbc5 {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-64fa0bce9f39771f9552bbc5 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(4,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-yui_3_17_2_1_1694100547567_157304 {
    grid-area: 1/2/3/10;
    z-index: 1;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1694100547567_157304 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-yui_3_17_2_1_1694100547567_157304 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1694100547567_157304 {
      grid-area: 1/3/5/25;
      z-index: 1;

      

      
    }

    .fe-block-yui_3_17_2_1_1694100547567_157304 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1694100547567_157304 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }



#block-yui_3_17_2_1_1694100547567_157304 {
    
    --stroke-style: none;--stroke-thickness: 6px;
    
      
      
      
    



  }

  #block-yui_3_17_2_1_1694100547567_157304 .sqs-html-content {
    
    --tweak-text-block-padding: 6% 6% 6% 6%;
  --tweak-text-block-padding: initial;
}

  .fe-block-yui_3_17_2_1_1694100547567_157304 {
      mix-blend-mode: var(--tweak-text-block-blend
  );
      border-radius: var(--tweak-text-block-radius);
  }

  
  
.fe-block-yui_3_17_2_1_1694100547567_157304 {
      --tweak-text-block-radius: 0px 0px 0px 0px;
    }


  
  .fe-block-yui_3_17_2_1_1694100547567_157304 {
      --tweak-text-block-blend
  : normal;
    }
  

  .fe-block-yui_3_17_2_1_1694100547567_157304 {
    --blur-value: blur(15px);}




    @media screen and (max-width: 767px) {
          
            

#block-yui_3_17_2_1_1694100547567_157304 {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-yui_3_17_2_1_1694100547567_157304 .sqs-html-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }


    
  



.fe-64ef43d75be7230b95e71a84 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(47,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .background-width--inset .fe-64ef43d75be7230b95e71a84 {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-64ef43d75be7230b95e71a84 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(41,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-yui_3_17_2_1_1694100547567_171839 {
    grid-area: 4/2/11/10;
    z-index: 2;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1694100547567_171839 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1694100547567_171839 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1694100547567_171839 {
      grid-area: 7/4/15/14;
      z-index: 2;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1694100547567_171839 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1694100547567_171839 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-abecd7da39e19ecef881 {
    grid-area: 4/2/5/10;
    z-index: 1;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-abecd7da39e19ecef881 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-abecd7da39e19ecef881 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-abecd7da39e19ecef881 {
      grid-area: 5/4/6/8;
      z-index: 1;

      
        
      

      
    }

    .fe-block-abecd7da39e19ecef881 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-abecd7da39e19ecef881 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-yui_3_17_2_1_1737676269559_46346 {
    grid-area: 15/2/17/10;
    z-index: 5;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1737676269559_46346 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-yui_3_17_2_1_1737676269559_46346 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1737676269559_46346 {
      grid-area: 16/4/18/14;
      z-index: 5;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1737676269559_46346 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-yui_3_17_2_1_1737676269559_46346 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-08c7562447ea052fda7b-1 {
    grid-area: 18/2/23/10;
    z-index: 4;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-08c7562447ea052fda7b-1 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-08c7562447ea052fda7b-1 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-08c7562447ea052fda7b-1 {
      grid-area: 1/4/5/12;
      z-index: 4;

      
        
      

      
    }

    .fe-block-08c7562447ea052fda7b-1 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-08c7562447ea052fda7b-1 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-yui_3_17_2_1_1737676269559_32529 {
    grid-area: 24/2/48/10;
    z-index: 6;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1737676269559_32529 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-yui_3_17_2_1_1737676269559_32529 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1737676269559_32529 {
      grid-area: 1/14/23/26;
      z-index: 6;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1737676269559_32529 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-yui_3_17_2_1_1737676269559_32529 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }




    
  


      
      #block-abecd7da39e19ecef881 {
        --social-icons-justify-content: flex-start;
        --social-icons-dimension: 20px;--social-icons-gap: 12px;
        --social-icons-border-thickness: 2px;
      }

      
      #block-abecd7da39e19ecef881 .sqs-svg-icon--wrapper {
        --si-border-radius: 0;--si-scale: 2;--si-box-shadow: none;--si-fill-icon: var(--si-primary);--si-fill-icon-fade: var(--si-primary-faded);--si-fill-icon-hover: var(--si-primary);--si-fill-mask: transparent;--si-fill-mask-fade: transparent;--si-fill-mask-hover: transparent;--si-bg: transparent;--si-bg-fade: transparent;--si-bg-hover: transparent;
      }

      
      #block-abecd7da39e19ecef881 .sqs-svg-icon--list {
        justify-content: var(--social-icons-justify-content, center);
        column-gap: var(--social-icons-gap, 12px);
        row-gap: var(--social-icons-gap, 12px);
      }
      #block-abecd7da39e19ecef881 .sqs-svg-icon--wrapper {
        width: var(--social-icons-dimension, 20px);
        height: var(--social-icons-dimension, 20px);
        margin: 0;
        border: none; 
        background-color: var(--si-bg, transparent);
        box-shadow: var(--si-box-shadow, none);
        border-radius: var(--si-border-radius, 0);
      }
      #block-abecd7da39e19ecef881 .sqs-svg-icon--wrapper > div {
        transform: scale(var(--si-scale, 1));
      }
      #block-abecd7da39e19ecef881 .sqs-use--icon {
        fill: var(--si-fill-icon, transparent);
      }
      #block-abecd7da39e19ecef881 .sqs-use--mask {
        fill: var(--si-fill-mask, transparent);
      }
      #block-abecd7da39e19ecef881 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper {
        background-color: var(--si-bg-fade, var(--si-bg, transparent));
      }
      #block-abecd7da39e19ecef881 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper .sqs-use--icon {
        fill: var(--si-fill-icon-fade, var(--si-fill-icon, transparent));
      }
      #block-abecd7da39e19ecef881 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper .sqs-use--mask {
        fill: var(--si-fill-mask-fade, var(--si-fill-mask, transparent));
      }
      #block-abecd7da39e19ecef881 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover {
        background-color: var(--si-bg-hover, var(--si-bg, transparent));
      }
      #block-abecd7da39e19ecef881 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
        fill: var(--si-fill-icon-hover, var(--si-fill-icon, transparent));
      }
      #block-abecd7da39e19ecef881 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
        fill: var(--si-fill-mask-hover, var(--si-fill-mask, transparent));
      }
    

#block-abecd7da39e19ecef881 {
    
    
    



  }

  #block-abecd7da39e19ecef881 .sqs-block-socialaccountlinks-content {
    
    --tweak-social-links-block-padding: initial;
}

  .fe-block-abecd7da39e19ecef881 {
      mix-blend-mode: var(--tweak-social-links-block-blend);
      border-radius: var(--tweak-social-links-block-radius);
  }

  
  



  
  

  .fe-block-abecd7da39e19ecef881 {
    }




    @media screen and (max-width: 767px) {
          
            

#block-abecd7da39e19ecef881 {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-abecd7da39e19ecef881 .sqs-block-socialaccountlinks-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }


    
  

#block-yui_3_17_2_1_1737676269559_46346 {
    
    --stroke-style: none;--stroke-thickness: 0px;
    
      
      
      
    



  }

  #block-yui_3_17_2_1_1737676269559_46346 .sqs-html-content {
    
    --tweak-text-block-padding: 3% 3% 3% 3%;
  --tweak-text-block-padding: initial;
}

  .fe-block-yui_3_17_2_1_1737676269559_46346 {
      mix-blend-mode: var(--tweak-text-block-blend
  );
      border-radius: var(--tweak-text-block-radius);
  }

  
  
.fe-block-yui_3_17_2_1_1737676269559_46346 {
      --tweak-text-block-radius: 0px 0px 0px 0px;
    }


  
  .fe-block-yui_3_17_2_1_1737676269559_46346 {
      --tweak-text-block-blend
  : normal;
    }
  

  .fe-block-yui_3_17_2_1_1737676269559_46346 {
    --blur-value: blur(0px);}




    @media screen and (max-width: 767px) {
          
            

#block-yui_3_17_2_1_1737676269559_46346 {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-yui_3_17_2_1_1737676269559_46346 .sqs-html-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }


    
  

#block-08c7562447ea052fda7b-1 {
    
    --stroke-style: none;--stroke-thickness: 0px;
    
      
      
      
    



  }

  #block-08c7562447ea052fda7b-1 .sqs-html-content {
    
    --tweak-text-block-padding: 3% 3% 3% 3%;
  --tweak-text-block-padding: initial;
}

  .fe-block-08c7562447ea052fda7b-1 {
      mix-blend-mode: var(--tweak-text-block-blend
  );
      border-radius: var(--tweak-text-block-radius);
  }

  
  
.fe-block-08c7562447ea052fda7b-1 {
      --tweak-text-block-radius: 0px 0px 0px 0px;
    }


  
  .fe-block-08c7562447ea052fda7b-1 {
      --tweak-text-block-blend
  : normal;
    }
  

  .fe-block-08c7562447ea052fda7b-1 {
    --blur-value: blur(0px);}




    @media screen and (max-width: 767px) {
          
            

#block-08c7562447ea052fda7b-1 {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-08c7562447ea052fda7b-1 .sqs-html-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }


    
  


    
  



.fe-64ef43cd5be7230b95e718f4 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(29,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .background-width--inset .fe-64ef43cd5be7230b95e718f4 {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-64ef43cd5be7230b95e718f4 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(20,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-yui_3_17_2_1_1694100547567_32040 {
    grid-area: 12/1/22/11;
    z-index: 3;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1694100547567_32040 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1694100547567_32040 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1694100547567_32040 {
      grid-area: 3/13/21/27;
      z-index: 3;

      

      
    }

    .fe-block-yui_3_17_2_1_1694100547567_32040 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1694100547567_32040 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-8bc70a03c75ca5a32c6e {
    grid-area: 2/2/14/10;
    z-index: 1;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-8bc70a03c75ca5a32c6e .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-8bc70a03c75ca5a32c6e .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-8bc70a03c75ca5a32c6e {
      grid-area: 4/3/14/12;
      z-index: 1;

      

      
    }

    .fe-block-8bc70a03c75ca5a32c6e .sqs-block {
      justify-content: center;
    }

    .fe-block-8bc70a03c75ca5a32c6e .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-yui_3_17_2_1_1738273236722_14235 {
    grid-area: 22/2/28/10;
    z-index: 4;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1738273236722_14235 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1738273236722_14235 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1738273236722_14235 {
      grid-area: 10/9/18/15;
      z-index: 4;

      
        
          
  
    position: sticky;
    top: calc(50% + 0px + (var(--header-fixed-top-offset, 0px) / 2) - (var(--block-height, 0px) / 2));
  
  
  

        
      

      
    }

    .fe-block-yui_3_17_2_1_1738273236722_14235 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1738273236722_14235 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-yui_3_17_2_1_1738270088494_56201 {
    grid-area: 24/2/26/10;
    z-index: 5;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1738270088494_56201 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1738270088494_56201 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1738270088494_56201 {
      grid-area: 16/10/19/14;
      z-index: 5;

      
        
          
  
  
    position: sticky;
    top: calc(0px + var(--header-fixed-top-offset, 0px));
  
  

        
      

      
    }

    .fe-block-yui_3_17_2_1_1738270088494_56201 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1738270088494_56201 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }




      
      
      
      #block-yui_3_17_2_1_1694100547567_32040 {
        --image-component-focal-point: 75.56438634240808% 39.20391943481655%;
        
  --image-component-object-fit: cover;
  --image-component-overlay-opacity: 0;
  --image-component-overlay-blend-mode: normal;
  
  --image-component-native-aspect-ratio: 960/720;
  
  
  

      }
      #block-yui_3_17_2_1_1694100547567_32040 .fluid-image-container.visitor-mode {
        
  
  overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);clip-path: none;-webkit-clip-path: none;

      }
      #block-yui_3_17_2_1_1694100547567_32040 .js-content-mode-element-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: none;
      }
      #block-yui_3_17_2_1_1694100547567_32040 .js-content-mode-element-system_desktop {
        display: block;
      }
    


    
  


    #block-yui_3_17_2_1_1738273236722_14235 .sqs-shape-block-container-system_desktop {
      display: flex;
    }
    #block-yui_3_17_2_1_1738273236722_14235 .sqs-block-alignment-wrapper {
      
      
      justify-content: center;
      
      
    }

    
      #block-yui_3_17_2_1_1738273236722_14235 .sqs-shape > * {
        
          stroke: none;
        
      }
    

    
      
    

    
      
        #block-yui_3_17_2_1_1738273236722_14235 {
          --shape-block-background-color: 
  
    
      hsla(var(--accent-hsl), 1)
    
  
  
;
        }
      
    

    
      
      
    
  


    
  	#block-yui_3_17_2_1_1738273236722_14235 .sqs-shape-block-container-system_desktop {
    	display: flex;
    }
  @media screen and (max-width: 767px) {
      


      #block-yui_3_17_2_1_1738273236722_14235 .sqs-block-alignment-wrapper {
        
        
          justify-content: center;
        
        
      }

      

      #block-yui_3_17_2_1_1738273236722_14235 {
        
          
        

        
          
            --shape-block-background-color: 
  
    
      hsla(var(--accent-hsl), 1)
    
  
  
;
          
        

        
          
          
        
      }
    }
  
  


    
  

#block-yui_3_17_2_1_1738270088494_56201 {
    
    --stroke-style: none;--stroke-thickness: 6px;
    
      
      
      
    



  }

  #block-yui_3_17_2_1_1738270088494_56201 .sqs-html-content {
    
    --tweak-text-block-padding: 6% 6% 6% 6%;
  --tweak-text-block-padding: initial;
}

  .fe-block-yui_3_17_2_1_1738270088494_56201 {
      mix-blend-mode: var(--tweak-text-block-blend
  );
      border-radius: var(--tweak-text-block-radius);
  }

  
  
.fe-block-yui_3_17_2_1_1738270088494_56201 {
      --tweak-text-block-radius: 0px 0px 0px 0px;
    }


  
  .fe-block-yui_3_17_2_1_1738270088494_56201 {
      --tweak-text-block-blend
  : normal;
    }
  

  .fe-block-yui_3_17_2_1_1738270088494_56201 {
    --blur-value: blur(15px);}




    @media screen and (max-width: 767px) {
          
            

#block-yui_3_17_2_1_1738270088494_56201 {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-yui_3_17_2_1_1738270088494_56201 .sqs-html-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }


    
  



.fe-64ef43cd5be7230b95e718fa {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(29,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .background-width--inset .fe-64ef43cd5be7230b95e718fa {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-64ef43cd5be7230b95e718fa {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(15,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-yui_3_17_2_1_1694021682244_199475 {
    grid-area: 2/2/6/10;
    z-index: 7;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1694021682244_199475 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1694021682244_199475 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1694021682244_199475 {
      grid-area: 3/2/8/5;
      z-index: 7;

      

      
    }

    .fe-block-yui_3_17_2_1_1694021682244_199475 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-yui_3_17_2_1_1694021682244_199475 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-yui_3_17_2_1_1709743319553_5969 {
    grid-area: 6/2/10/10;
    z-index: 8;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1709743319553_5969 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1709743319553_5969 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1709743319553_5969 {
      grid-area: 6/14/9/19;
      z-index: 8;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1709743319553_5969 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1709743319553_5969 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-106ec4d812735d808d46 {
    grid-area: 11/2/19/10;
    z-index: 3;

    @media (max-width: 767px) {
      
        
          
  
  
    position: sticky;
    top: calc(0px + var(--header-fixed-top-offset, 0px));
  
  

        
      
      
    }
  }

  .fe-block-106ec4d812735d808d46 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-106ec4d812735d808d46 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-106ec4d812735d808d46 {
      grid-area: 3/6/11/13;
      z-index: 3;

      

      
    }

    .fe-block-106ec4d812735d808d46 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-106ec4d812735d808d46 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-d51b1862da0138459ed5 {
    grid-area: 19/2/21/10;
    z-index: 1;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-d51b1862da0138459ed5 .sqs-block {
    justify-content: center;
  }

  .fe-block-d51b1862da0138459ed5 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-d51b1862da0138459ed5 {
      grid-area: 10/6/12/8;
      z-index: 1;

      

      
    }

    .fe-block-d51b1862da0138459ed5 .sqs-block {
      justify-content: center;
    }

    .fe-block-d51b1862da0138459ed5 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-35ca1cd068ef7962872d {
    grid-area: 21/2/27/10;
    z-index: 4;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-35ca1cd068ef7962872d .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-35ca1cd068ef7962872d .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-35ca1cd068ef7962872d {
      grid-area: 3/20/11/25;
      z-index: 4;

      

      
    }

    .fe-block-35ca1cd068ef7962872d .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-35ca1cd068ef7962872d .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-073af7720fd066804e24 {
    grid-area: 27/2/29/10;
    z-index: 0;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-073af7720fd066804e24 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-073af7720fd066804e24 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-073af7720fd066804e24 {
      grid-area: 12/2/15/26;
      z-index: 0;

      

      
    }

    .fe-block-073af7720fd066804e24 .sqs-block {
      justify-content: center;
    }

    .fe-block-073af7720fd066804e24 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }




      
      
      
      #block-yui_3_17_2_1_1694021682244_199475 {
        --image-component-focal-point: 50% 50%;
        
  --image-component-object-fit: contain;
  --image-component-overlay-opacity: 0;
  --image-component-overlay-blend-mode: normal;
  
  --image-component-native-aspect-ratio: 800/689;
  
  
  

      }
      #block-yui_3_17_2_1_1694021682244_199475 .fluid-image-container.visitor-mode {
        
  
  overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);clip-path: none;-webkit-clip-path: none;

      }
      #block-yui_3_17_2_1_1694021682244_199475 .js-content-mode-element-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: none;
      }
      #block-yui_3_17_2_1_1694021682244_199475 .js-content-mode-element-system_desktop {
        display: block;
      }
    


    
  


  #block-yui_3_17_2_1_1709743319553_5969 {
    --sqs-block-content-flex: 1;
  }

  
  
    
      
      
    
      
      
        
      
    
  



    
  

#block-106ec4d812735d808d46 {
    
    --stroke-style: none;--stroke-thickness: 6px;
    
      
      
      
    



  }

  #block-106ec4d812735d808d46 .sqs-html-content {
    
    --tweak-text-block-padding: 6% 6% 6% 6%;
  --tweak-text-block-padding: initial;
}

  .fe-block-106ec4d812735d808d46 {
      mix-blend-mode: var(--tweak-text-block-blend
  );
      border-radius: var(--tweak-text-block-radius);
  }

  
  
.fe-block-106ec4d812735d808d46 {
      --tweak-text-block-radius: 0px 0px 0px 0px;
    }


  
  .fe-block-106ec4d812735d808d46 {
      --tweak-text-block-blend
  : normal;
    }
  

  .fe-block-106ec4d812735d808d46 {
    --blur-value: blur(15px);}




    @media screen and (max-width: 767px) {
          
            

#block-106ec4d812735d808d46 {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-106ec4d812735d808d46 .sqs-html-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }


    
  


      
      #block-d51b1862da0138459ed5 {
        --social-icons-justify-content: flex-start;
        --social-icons-dimension: 20px;--social-icons-gap: 12px;
        --social-icons-border-thickness: 2px;
      }

      
      #block-d51b1862da0138459ed5 .sqs-svg-icon--wrapper {
        --si-border-radius: 0;--si-scale: 2;--si-box-shadow: none;--si-fill-icon: var(--si-primary);--si-fill-icon-fade: var(--si-primary-faded);--si-fill-icon-hover: var(--si-primary);--si-fill-mask: transparent;--si-fill-mask-fade: transparent;--si-fill-mask-hover: transparent;--si-bg: transparent;--si-bg-fade: transparent;--si-bg-hover: transparent;
      }

      
      #block-d51b1862da0138459ed5 .sqs-svg-icon--list {
        justify-content: var(--social-icons-justify-content, center);
        column-gap: var(--social-icons-gap, 12px);
        row-gap: var(--social-icons-gap, 12px);
      }
      #block-d51b1862da0138459ed5 .sqs-svg-icon--wrapper {
        width: var(--social-icons-dimension, 20px);
        height: var(--social-icons-dimension, 20px);
        margin: 0;
        border: none; 
        background-color: var(--si-bg, transparent);
        box-shadow: var(--si-box-shadow, none);
        border-radius: var(--si-border-radius, 0);
      }
      #block-d51b1862da0138459ed5 .sqs-svg-icon--wrapper > div {
        transform: scale(var(--si-scale, 1));
      }
      #block-d51b1862da0138459ed5 .sqs-use--icon {
        fill: var(--si-fill-icon, transparent);
      }
      #block-d51b1862da0138459ed5 .sqs-use--mask {
        fill: var(--si-fill-mask, transparent);
      }
      #block-d51b1862da0138459ed5 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper {
        background-color: var(--si-bg-fade, var(--si-bg, transparent));
      }
      #block-d51b1862da0138459ed5 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper .sqs-use--icon {
        fill: var(--si-fill-icon-fade, var(--si-fill-icon, transparent));
      }
      #block-d51b1862da0138459ed5 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper .sqs-use--mask {
        fill: var(--si-fill-mask-fade, var(--si-fill-mask, transparent));
      }
      #block-d51b1862da0138459ed5 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover {
        background-color: var(--si-bg-hover, var(--si-bg, transparent));
      }
      #block-d51b1862da0138459ed5 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
        fill: var(--si-fill-icon-hover, var(--si-fill-icon, transparent));
      }
      #block-d51b1862da0138459ed5 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
        fill: var(--si-fill-mask-hover, var(--si-fill-mask, transparent));
      }
    

#block-d51b1862da0138459ed5 {
    
    
    



  }

  #block-d51b1862da0138459ed5 .sqs-block-socialaccountlinks-content {
    
    --tweak-social-links-block-padding: initial;
}

  .fe-block-d51b1862da0138459ed5 {
      mix-blend-mode: var(--tweak-social-links-block-blend);
      border-radius: var(--tweak-social-links-block-radius);
  }

  
  



  
  

  .fe-block-d51b1862da0138459ed5 {
    }




    @media screen and (max-width: 767px) {
          
            

#block-d51b1862da0138459ed5 {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-d51b1862da0138459ed5 .sqs-block-socialaccountlinks-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }


    
  

#block-35ca1cd068ef7962872d {
    
    --stroke-style: none;--stroke-thickness: 6px;
    
      
      
      
    



  }

  #block-35ca1cd068ef7962872d .sqs-html-content {
    
    --tweak-text-block-padding: 6% 6% 6% 6%;
  --tweak-text-block-padding: initial;
}

  .fe-block-35ca1cd068ef7962872d {
      mix-blend-mode: var(--tweak-text-block-blend
  );
      border-radius: var(--tweak-text-block-radius);
  }

  
  
.fe-block-35ca1cd068ef7962872d {
      --tweak-text-block-radius: 0px 0px 0px 0px;
    }


  
  .fe-block-35ca1cd068ef7962872d {
      --tweak-text-block-blend
  : normal;
    }
  

  .fe-block-35ca1cd068ef7962872d {
    --blur-value: blur(15px);}




    @media screen and (max-width: 767px) {
          
            

#block-35ca1cd068ef7962872d {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-35ca1cd068ef7962872d .sqs-html-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }


    
  

#block-073af7720fd066804e24 {
    
    --stroke-style: none;--stroke-thickness: 6px;
    
      
      
      
    



  }

  #block-073af7720fd066804e24 .sqs-html-content {
    
    --tweak-text-block-padding: 6% 6% 6% 6%;
  --tweak-text-block-padding: initial;
}

  .fe-block-073af7720fd066804e24 {
      mix-blend-mode: var(--tweak-text-block-blend
  );
      border-radius: var(--tweak-text-block-radius);
  }

  
  
.fe-block-073af7720fd066804e24 {
      --tweak-text-block-radius: 0px 0px 0px 0px;
    }


  
  .fe-block-073af7720fd066804e24 {
      --tweak-text-block-blend
  : normal;
    }
  

  .fe-block-073af7720fd066804e24 {
    --blur-value: blur(15px);}




    @media screen and (max-width: 767px) {
          
            

#block-073af7720fd066804e24 {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-073af7720fd066804e24 .sqs-html-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }


    
  